
.announces-list{
    margin: 20px;
}
.announce-brief-container {
    width: 80vw;
    border: 2px solid rgb(247, 182, 96);
    margin: 15px;
    display: grid;
    border-radius: 3px;
    background: #444;
    color: #fffff8;
    justify-content: start;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 0.5fr) repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
}

.announce-img{
    max-width: 100%;
    height: 100%;
}
.announce-img-box{
    grid-area: 1 / 1 / 5 / 5;
    height: 100%;
}
.announce-summary-box{
    grid-area: 1 / 5 / 4 / 11;
    padding: 20px;
    justify-content: center;
}
.announce-delete-update-box{
    grid-area: 4 / 5 / 5 / 11;
    display: flex;
    justify-content: space-evenly;
}