{% extends 'base.html' %}

{% block content %}

<div class="col-8">
    <h1 class="mt-2" align="center">Trouver votre colocation idéale</h1>
    <h3 class="mt-2" align="center">Des milliers de chambres à louer en france</h3>
    <hr class="mt-0 mb-4">
    <div class="input-group search-box">
        <input type="text" id="search" class="form-control" placeholder="Où souhaitez-vous vivre...">
        <span class="input-group-addon"><i class="material-icons"></i></span>
    </div>
</div>

{% endblock %}